@font-face {
  font-family: 'SignikaNegative';
  src: url(./font/SignikaNegative.ttf);
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  --primary-clr: #54bab9;
  --secondary-clr: #9ed2c6;
  --bgc: #f7ecde;
  --bgc-d: #e9dac1;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'SignikaNegative';
}
html, body{
  height: 100%;
}
body{
  display: grid;
  background-color: var(--bgc);
  grid-template-columns: 1fr 6fr;
}
button{
  background-color: var(--primary-clr);
  color: white;
  padding: 5px 10px;
}
button:active{
  background-color: var(--secondary-clr);
}
button:hover{
  cursor: pointer;
  box-shadow: 3px 3px 5px grey;
}
.content{
  display: grid;
  padding: 50px;
  place-content: center;
  gap: 50px;
  align-self: start;
}
.addTask{
  display: flex;
  place-content: center;
  place-items: center;
  gap: 10px;
}
.addTaskPrompt{
  display: none;
  gap: 20px;
}
input{
  border: 1px solid var(--secondary-clr);
  padding: 5px;
}
.tasks{
  display: grid;
  width: 50vw;
  gap: 20px;
}
.taskItem{
  height: 1.5em;
  background-color: var(--primary-clr);
  display: flex;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  align-items: center;
  align-items: center;
  gap: 10px;
}
.taskTitle{
  margin-right: auto;
}
.taskItem img{
  height: 1.2em;
}
.taskInput img{
  height: 1.2em;
}
.sidebar{
  background-color: var(--primary-clr);
  padding: 10px;
  display: grid;
  gap:10px;
}
.project{
  display: grid;
  grid-auto-columns: 100%;
  place-content: start;
  gap: 10px;
}
.project .heading{
  font-size: 1.5rem;
  color: white;
}
.content .heading{
  text-align: center;
  font-size: 1.8rem;
  font-weight: 900;
}
.project button{
  border: 1px solid white;
}
.projectInput{
  display: none;
  gap: 2px;
}
.projectInput img{
  height: 30px;
}
.projectInput .options{
  display: flex;
  justify-content: space-around;
}
.project .options img{
  padding: 5px;
}
.projectInput .options img:hover{
  background-color: var(--secondary-clr);
}
.projectList{
  font-size: 1.2rem;
  display: grid;
  gap: 10px;
  min-width: 100%;
}
.projectItem{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 3px 5px;
  color:white;
}
.projectItem:hover{
  background-color: var(--secondary-clr);
}
.projectItem.current{
  background-color: var(--secondary-clr);
  color:black;
}
.taskItem.done{
  color:white;
  text-decoration: line-through;
  background-color: grey;
}
.checkBox:hover,.taskItem img:hover, .starIcon:hover{
  cursor: pointer;
}
.projectItem img{
  height: 1.3rem;
  margin-left:auto;
  display: none;
}
.projectItem:hover img{
  display: block;
}